html, body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.panel{
	padding: 10px;
	min-height: 100px;
	background: #e0e0e0;
	&.green{
		background: #46B29D;
	}
	&.yellow{
		background: #F0CA4D;
	}
	&.orange{
		background: #E37B40;
	}
	&.purple{
		background: #DD83E8;
	}
	&.blue{
		background: #90C7FF;
	}
	> .panel{
		background: black;
		opacity: .1;
	}
}
.galerie{
	padding: 0;
	list-style-type: none;
	li{
		background: #b2b2b2;
		display: block;
		min-height: 50px;
	}
}
.logo{
	min-width: 100px;
	height: 50px;
	background: black;
	opacity: .1;
}
.nav{
	padding: 0;
	list-style-type: none;
	li{
		display: inline-block;
	}
}