/* line 1, ../sass/_panel.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_panel.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/_panel.scss */
.panel {
  padding: 10px;
  min-height: 100px;
  background: #e0e0e0;
}
/* line 12, ../sass/_panel.scss */
.panel.green {
  background: #46B29D;
}
/* line 15, ../sass/_panel.scss */
.panel.yellow {
  background: #F0CA4D;
}
/* line 18, ../sass/_panel.scss */
.panel.orange {
  background: #E37B40;
}
/* line 21, ../sass/_panel.scss */
.panel.purple {
  background: #DD83E8;
}
/* line 24, ../sass/_panel.scss */
.panel.blue {
  background: #90C7FF;
}
/* line 27, ../sass/_panel.scss */
.panel > .panel {
  background: black;
  opacity: .1;
}

/* line 23, ../sass/grid-core.scss */
.d-grid {
  display: grid;
  grid-template: auto/repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

/* line 42, ../sass/grid-core.scss */
.grid-rows-1 {
  grid-template-rows: repeat(1, 1fr);
}

/* line 42, ../sass/grid-core.scss */
.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

/* line 42, ../sass/grid-core.scss */
.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

/* line 42, ../sass/grid-core.scss */
.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

/* line 50, ../sass/grid-core.scss */
.col-1 {
  grid-column-end: span 1;
}

/* line 53, ../sass/grid-core.scss */
.row-1 {
  grid-row-end: span 1;
}

/* line 50, ../sass/grid-core.scss */
.col-2 {
  grid-column-end: span 2;
}

/* line 53, ../sass/grid-core.scss */
.row-2 {
  grid-row-end: span 2;
}

/* line 50, ../sass/grid-core.scss */
.col-3 {
  grid-column-end: span 3;
}

/* line 53, ../sass/grid-core.scss */
.row-3 {
  grid-row-end: span 3;
}

/* line 50, ../sass/grid-core.scss */
.col-4 {
  grid-column-end: span 4;
}

/* line 53, ../sass/grid-core.scss */
.row-4 {
  grid-row-end: span 4;
}

/* line 50, ../sass/grid-core.scss */
.col-5 {
  grid-column-end: span 5;
}

/* line 53, ../sass/grid-core.scss */
.row-5 {
  grid-row-end: span 5;
}

/* line 50, ../sass/grid-core.scss */
.col-6 {
  grid-column-end: span 6;
}

/* line 53, ../sass/grid-core.scss */
.row-6 {
  grid-row-end: span 6;
}

/* line 50, ../sass/grid-core.scss */
.col-7 {
  grid-column-end: span 7;
}

/* line 53, ../sass/grid-core.scss */
.row-7 {
  grid-row-end: span 7;
}

/* line 50, ../sass/grid-core.scss */
.col-8 {
  grid-column-end: span 8;
}

/* line 53, ../sass/grid-core.scss */
.row-8 {
  grid-row-end: span 8;
}

/* line 50, ../sass/grid-core.scss */
.col-9 {
  grid-column-end: span 9;
}

/* line 53, ../sass/grid-core.scss */
.row-9 {
  grid-row-end: span 9;
}

/* line 50, ../sass/grid-core.scss */
.col-10 {
  grid-column-end: span 10;
}

/* line 53, ../sass/grid-core.scss */
.row-10 {
  grid-row-end: span 10;
}

/* line 50, ../sass/grid-core.scss */
.col-11 {
  grid-column-end: span 11;
}

/* line 53, ../sass/grid-core.scss */
.row-11 {
  grid-row-end: span 11;
}

/* line 50, ../sass/grid-core.scss */
.col-12 {
  grid-column-end: span 12;
}

/* line 53, ../sass/grid-core.scss */
.row-12 {
  grid-row-end: span 12;
}

@media screen and (max-width: 320px) {
  /* line 61, ../sass/grid-core.scss */
  .col-xs-1 {
    grid-column-end: span 1;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-1 {
    grid-row-end: span 1;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-2 {
    grid-column-end: span 2;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-2 {
    grid-row-end: span 2;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-3 {
    grid-column-end: span 3;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-3 {
    grid-row-end: span 3;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-4 {
    grid-column-end: span 4;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-4 {
    grid-row-end: span 4;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-5 {
    grid-column-end: span 5;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-5 {
    grid-row-end: span 5;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-6 {
    grid-column-end: span 6;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-6 {
    grid-row-end: span 6;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-7 {
    grid-column-end: span 7;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-7 {
    grid-row-end: span 7;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-8 {
    grid-column-end: span 8;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-8 {
    grid-row-end: span 8;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-9 {
    grid-column-end: span 9;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-9 {
    grid-row-end: span 9;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-10 {
    grid-column-end: span 10;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-10 {
    grid-row-end: span 10;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-11 {
    grid-column-end: span 11;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-11 {
    grid-row-end: span 11;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-xs-12 {
    grid-column-end: span 12;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-xs-12 {
    grid-row-end: span 12;
  }
}
@media screen and (max-width: 640px) {
  /* line 61, ../sass/grid-core.scss */
  .col-s-1 {
    grid-column-end: span 1;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-1 {
    grid-row-end: span 1;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-2 {
    grid-column-end: span 2;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-2 {
    grid-row-end: span 2;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-3 {
    grid-column-end: span 3;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-3 {
    grid-row-end: span 3;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-4 {
    grid-column-end: span 4;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-4 {
    grid-row-end: span 4;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-5 {
    grid-column-end: span 5;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-5 {
    grid-row-end: span 5;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-6 {
    grid-column-end: span 6;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-6 {
    grid-row-end: span 6;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-7 {
    grid-column-end: span 7;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-7 {
    grid-row-end: span 7;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-8 {
    grid-column-end: span 8;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-8 {
    grid-row-end: span 8;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-9 {
    grid-column-end: span 9;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-9 {
    grid-row-end: span 9;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-10 {
    grid-column-end: span 10;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-10 {
    grid-row-end: span 10;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-11 {
    grid-column-end: span 11;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-11 {
    grid-row-end: span 11;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-s-12 {
    grid-column-end: span 12;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-s-12 {
    grid-row-end: span 12;
  }
}
@media screen and (max-width: 768px) {
  /* line 61, ../sass/grid-core.scss */
  .col-m-1 {
    grid-column-end: span 1;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-1 {
    grid-row-end: span 1;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-2 {
    grid-column-end: span 2;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-2 {
    grid-row-end: span 2;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-3 {
    grid-column-end: span 3;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-3 {
    grid-row-end: span 3;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-4 {
    grid-column-end: span 4;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-4 {
    grid-row-end: span 4;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-5 {
    grid-column-end: span 5;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-5 {
    grid-row-end: span 5;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-6 {
    grid-column-end: span 6;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-6 {
    grid-row-end: span 6;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-7 {
    grid-column-end: span 7;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-7 {
    grid-row-end: span 7;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-8 {
    grid-column-end: span 8;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-8 {
    grid-row-end: span 8;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-9 {
    grid-column-end: span 9;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-9 {
    grid-row-end: span 9;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-10 {
    grid-column-end: span 10;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-10 {
    grid-row-end: span 10;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-11 {
    grid-column-end: span 11;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-11 {
    grid-row-end: span 11;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-m-12 {
    grid-column-end: span 12;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-m-12 {
    grid-row-end: span 12;
  }
}
@media screen and (max-width: 1024px) {
  /* line 61, ../sass/grid-core.scss */
  .col-l-1 {
    grid-column-end: span 1;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-1 {
    grid-row-end: span 1;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-2 {
    grid-column-end: span 2;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-2 {
    grid-row-end: span 2;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-3 {
    grid-column-end: span 3;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-3 {
    grid-row-end: span 3;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-4 {
    grid-column-end: span 4;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-4 {
    grid-row-end: span 4;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-5 {
    grid-column-end: span 5;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-5 {
    grid-row-end: span 5;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-6 {
    grid-column-end: span 6;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-6 {
    grid-row-end: span 6;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-7 {
    grid-column-end: span 7;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-7 {
    grid-row-end: span 7;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-8 {
    grid-column-end: span 8;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-8 {
    grid-row-end: span 8;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-9 {
    grid-column-end: span 9;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-9 {
    grid-row-end: span 9;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-10 {
    grid-column-end: span 10;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-10 {
    grid-row-end: span 10;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-11 {
    grid-column-end: span 11;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-11 {
    grid-row-end: span 11;
  }

  /* line 61, ../sass/grid-core.scss */
  .col-l-12 {
    grid-column-end: span 12;
  }

  /* line 64, ../sass/grid-core.scss */
  .row-l-12 {
    grid-row-end: span 12;
  }
}
